.#{$namespace}toast-container {
	line-height:17rem/$rem;
	position: fixed;
	bottom: 50rem/$rem;
	z-index: z("toast");
	opacity: 0;
	left:50%;
	-webkit-transform:translate(-50%,0);
	transform:translate(-50%,0);
	-webkit-transition: opacity .3s;
    transition: opacity .3s;
	&.#{$namespace}active{
	    opacity: .9;
	}
}
.#{$namespace}toast-message {
	padding: 10rem/$rem 25rem/$rem;
	background-color: #323232;
	text-align: center;
	color: #fff;
	border-radius: 6rem/$rem;
	font-size: 14rem/$rem;
}